{% extends 'be_content_details.html.twig' %}

{% block scoper %}
  <div id="drag-drop-scoper" class="drag-item" data-element-id='{{ element_new.id }}>
  
      <div class="drag-item" data-id="{{ element_new.id }}">
        <strong>{{ element_new.type }}</strong> – {{ element_new.headline|default('Neues Element_new') }}
      </div>
  </div>

{% endblock %}
