.drag-item{width:100%; 
box-sizing:border-box;
}
.col-md-4{ 
    width:33.3% ;
    }
.col-md-6{ 
    width:50% ;
    }
.col-md-8{ 
    width:66.6% ;
    }
.col-12,
.col-md-4 .col-md-4,
.col-md-6 .col-md-6,
.col-md-8 .col-md-8{width:100%; }